---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "仙人掌主题",
	// 修改：工具
	title: "工具",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">工具</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			https://da.zcr25.x10.mx/
		</p>
		<p>
			https://9.zcr3.ddns-ip.net/about.html
		</p>
		<p>
			https://n.zcr7.ip-ddns.com/Tools.html
		</p>
		<p>
			https://bg.zcr4.ip-ddns.com/
		</p>
		<p>
			https://as.zcr25.dedyn.io/
		</p>
	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
